.header {  
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height:4rem;
    width:100%;
}

.headerlink {
    display:flex;
    justify-content: flex-end;
    list-style-type:none;
    
    
         li {
            font-size: clamp(1rem, 2vw, 3rem);
            margin:2.5%;
        }
}

.logo {
    padding:0.8rem;
    border-radius: 50%;
    width:fit-content;
    margin:0.5rem;
    font: bold 18px monospace;
    left:0;
    position:absolute;
}
