.header {  
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height:4rem;
    width:100%;
    background-color:#44558f;
}

.headerlink {
    display:flex;
    justify-content: flex-end;
    list-style-type:none;
    background-color:#44558f;
    
    
         li {
            font-size: clamp(1rem, 2vw, 3rem);
            margin:2.5%;
            background-color:#44558f;
            color:#ffffff;

            &:hover {
                color:#ffe6eb;
                text-shadow: 2px 2px 2px black;
            }
        }
}

.logo {
    background-color:#ffe495;
    padding:0.8rem;
    width:fit-content;
    margin:0.5rem;
    font: bold 18px monospace;
    left:0;
    position:absolute;

    &:hover {
        background-color:#ffc97b;
        text-shadow: 0 0 5px silver;
        box-shadow: 0 0 2px 2px #113f67;
    }
}