@mixin headertext {
        text-align: center;
        font-size: clamp(2rem,6vw,8rem);
        font-weight: bold;
}

@mixin pagetext {
        text-align: center;
        font-size: clamp(1rem,3vw,4rem);
        margin: 1rem;
}

@mixin buttonstyle {
        font-size: clamp(1rem,3vw,4rem);
        width:fit-content;
        padding: 0.5rem;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        &:hover {
                border-radius:20%;
                padding:1rem;
                font-weight:bold;
        }
}