@use "variables" as *;

@media (prefers-color-scheme: light) {
    
    * {
        background-color: $light-background-color;
    }

    .bio {
        
        color: $light-text-color;
    
        &__photo {
            border: 2px solid $light-border-color;
            box-shadow: 3px 3px 3px 3px $light-mode-shadows;
        }
        
        &__header {
            text-shadow: 3px 3px 5px $light-mode-shadows;
        }

        &__button {
            background-color: $light-button-color;
            border-color: $light-button-border;

            &:hover {
                background-color: $light-hover-color;
                box-shadow: 0 0 1px 1px $light-mode-shadows;
            }
        }
    }

    .latest-projects {

        color: $light-text-color;

        &__header {
            text-shadow: 3px 3px 5px $light-mode-shadows;
        }

        &__button {
            background-color: $light-button-color;
            border-color: $light-button-border;

            &:hover {
                background-color: $light-hover-color;
                box-shadow: 0 0 1px 1px $light-mode-shadows;
            }
        }

        &__link {
            background-color: $light-button-color;

            &:hover {
                background-color: $light-hover-color;
            }
        }
        
    }

    .card {
        border: 2px solid $light-border-color;
        background-color: $light-mode-card;

        &__image {
            border: 2px solid $light-border-color;
        }

        &__description {
            color: $light-text-color;
            background-color: $light-mode-card;
            text-shadow: 1px 1px 1px $light-mode-shadows;
        }
    }

    .header {
        background-color:$light-navbar-color;
    }

    .headerlist {
        background-color:$light-navbar-color;
        
        li {
            background-color:$light-navbar-color;
            color:$light-navbar-text-color;

            &:hover {
                color:$light-hover-color;
                text-shadow: 2px 2px 2px $light-mode-shadows;
            }
        }

        &__link {
            background-color:$light-navbar-color;
            color:$light-navbar-text-color;

            &:hover {
                color:$light-hover-color;
                text-shadow: 2px 2px 2px $light-mode-shadows;
            }
        }
    }

    .logo {
        background-color:$logo-color;
        
        &:hover {
            background-color:$logo-hover-color;
            text-shadow: 0 0 2px $logo-text-shadow;
            box-shadow: 0 0 2px 2px $logo-box-shadow;
        }
    }

    .footer {
        background-color: $light-navbar-color;

        &__copyright {
            background-color: $light-navbar-color;
            color: $light-navbar-text-color;
        }
    }

    .headerlistmobile {
        background: $light-navbar-color;

        &__link {
        background: $light-navbar-color;
        color: $light-navbar-text-color;

            &:hover {
                color:$light-hover-color;
                text-shadow: 2px 2px 2px $light-mode-shadows;
            }
        }
    
    }

    .headerlistmobile li {
        background: $light-navbar-color;
        color: $light-navbar-text-color;

        &:hover {
            color:$light-hover-color;
            text-shadow: 2px 2px 2px $light-mode-shadows;
        }
    }

    .hamburger {
        --color: #ffe495; /* bar color */
    }
}


@media (prefers-color-scheme: dark) {
    
    * {
        background-color: $dark-background-color;
    }

    .bio {
        color: $dark-text-color;
    
        &__photo {
            border: 2px solid $dark-border-color;
            box-shadow: 3px 3px 3px 3px $dark-mode-shadows;
        }
        
        &__header {
            text-shadow: 3px 3px 5px $dark-mode-shadows;
        }

        &__button {
            background-color: $dark-button-color;
            border-color: $dark-button-border;

            &:hover {
                background-color: $dark-hover-color;
                box-shadow: 0 0 1px 1px $dark-mode-shadows;
            }
        }
    }

    .latest-projects {

        color: $dark-text-color;
        
        &__header {
            text-shadow: 3px 3px 5px $dark-mode-shadows;
        }

        &__button {
            background-color: $dark-button-color;
            border-color: $dark-button-border;

            &:hover {
                background-color: $dark-hover-color;
                box-shadow: 0 0 1px 1px $dark-mode-shadows;
            }
        }

        &__link {
            background-color: $dark-button-color;

            &:hover {
                background-color: $dark-hover-color;
            }
        }
        
    }

    .card {
        border: 2px solid $dark-border-color;
        background-color:$dark-mode-card;

        &__image {
            border: 2px solid $dark-border-color;
        }

        &__description {
            color: $dark-text-color;
            background-color: $dark-mode-card;
            text-shadow: 1px 1px 1px $dark-mode-shadows;
        }
    }

    .header {
        background-color:$dark-navbar-color;
    }

    .headerlist {
        background-color:$dark-navbar-color;
        
        li {
            background-color:$dark-navbar-color;
            color:$dark-navbar-text-color;

            &:hover {
                color:$dark-hover-color;
                text-shadow: 2px 2px 2px $dark-mode-shadows;
            }
        }

        &__link {
            background-color:$dark-navbar-color;
            color:$dark-navbar-text-color;

            &:hover {
                color:$dark-hover-color;
                text-shadow: 2px 2px 2px $dark-mode-shadows;
            }
        }
    }

    .logo {
        background-color:$logo-color;
        
        &:hover {
            background-color:$logo-hover-color;
            text-shadow: 0 0 2px $logo-text-shadow;
            box-shadow: 0 0 2px 2px $logo-box-shadow;
        }
    }

    .footer {
        background-color: $dark-navbar-color;

        &__copyright {
            background-color: $dark-navbar-color;
            color: $dark-navbar-text-color;
        }
    }

    .headerlistmobile {
        background: $dark-navbar-color;

        &__link {
        background: $dark-navbar-color;
        color: $dark-navbar-text-color;

            &:hover {
                color:$dark-hover-color;
                text-shadow: 2px 2px 2px $dark-mode-shadows;
            }
        }
    }

    .headerlistmobile li {
        background: $dark-navbar-color;
        color: $dark-navbar-text-color;

        &:hover {
            color:$dark-hover-color;
            text-shadow: 2px 2px 2px $dark-mode-shadows;
        }
    }

    .hamburger {
        --color: #ffe495; /* bar color */
    }
}