//nav//
$navbar-color: #44558f;
$navbar-text-color:#ffffff;
$logo-color:#ffe495;
$logo-hover-color:#ffc97b;

//main//
$background-color:#e6f7f7;
$border-color:#ffc97b;
$button-color:#fbf4f9;
$hover-color:#ffe6eb;
