//logo//
$logo-color:#ffe495;
$logo-hover-color:#ffc97b;
$logo-text-shadow:#352f44;
$logo-box-shadow:#113f67;

//LIGHT//
//light root//
$light-text-color: #050A50;

//light nav//
$light-navbar-color: #44558f;
$light-navbar-text-color:#ffffff;

//light main//
$light-background-color:#e6f7f7;
$light-border-color:#005792;
$light-button-color:#fbf4f9;
$light-button-border:#ffcece;
$light-hover-color:#ffe6eb;
$light-mode-shadows:#5c5470;
$light-mode-card:#d5eeff;

//DARK//
//dark root//
$dark-text-color: #E2F0FE;

//dark nav//
$dark-navbar-color: #080f23;
$dark-navbar-text-color:#E2F0FE;

//dark main//
$dark-background-color:#1b2343;
$dark-border-color:#755da3;
$dark-button-border:#59a985;
$dark-button-color:#0cca98;
$dark-hover-color:#00ffcc;
$dark-mode-shadows:#272343;
$dark-mode-card:#39516F;