@use "../utils/mixins" as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
    flex-grow: 1;
}

//bio//

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-bottom: 5rem;

    &__photo {
        margin: 1rem;
        width: clamp(250px, 40%, 1000px);
        height: clamp(250px, 40%, 1000px);
    }
    

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &__section {
        @include headertext;
    }

    &__main {
        @include pagetext;
    }

    &__button {
        @include buttonstyle;
    }
}

//projects//

.latest-projects {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    
    &__section {
        @include headertext;
    }

    &__button {
        @include buttonstyle;
    }

    &__link {
        @include linkstyle;
}

    &__main {
        @include pagetext;
    }

    &__gallery {
        display: flex;
        justify-content: center;
    }

    &__cell {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        box-shadow: 2px 2px 2px black;
        padding-top:1vw;
        border-radius:2%;
        flex: 1 1 300px;
        max-width: 1000px;

        &__image {
            width: 95%;
        }

        &__description {
            @include pagetext;
        }
}

@media screen and (max-width:1024px) {
    .bio {
    display: flex;
    flex-direction: column;

        &__text {
            text-align: center;
            }
    }

    .latest-projects {

        &__gallery {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top:3vw;
    }
}