* {
    margin:0;
    top:0;
    left:0;
    right:0;
    font: 12pt 'Times New Roman', Times, serif;
    background-color:#e6f7f7;
}

@media screen and (max-width:1024px) {
    .bio {
    display: flex;
    flex-direction:column;

    &__text {
        text-align:center;
        }
    }

    .latest-projects {
        &__container {
            display: flex;
            flex-direction:column;
            align-items: center;
        }
    }
}